Repository sebastiantf/reverts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.yaml --write, eslint --config ./.eslintrc.yaml --ignore-path ./.eslintignore --ext .js,.ts, bash -c 'tsc --pretty --noEmit', solhint --config ./.solhint.json --max-warnings 0, solcjs --abi --include-path node_modules/ --base-path . -o ./artifacts

.lintstagedrc:

{
  "*.{js,json,md,ts,yaml,yml}": [
    "prettier --config ./.prettierrc.yaml --write"
  ],
  "*.{js,ts}": [
    "eslint --config ./.eslintrc.yaml --ignore-path ./.eslintignore --ext .js,.ts",
    "bash -c 'tsc --pretty --noEmit'"
  ],
  "*.sol": [
    "prettier --config ./.prettierrc.yaml --write",
    "solhint --config ./.solhint.json --max-warnings 0",
    "solcjs --abi --include-path node_modules/ --base-path . -o ./artifacts",
  ]
}

build: rename project to `reverts`
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc.yaml --write

refactor(greeter): remove `Greeter` from template
  .gitignore
  contracts/greeter/Greeter.sol
  docs/greeter/Greeter.md
  hardhat.config.ts
  helpers/constants.ts
  package.json
  src/types/Greeter.ts
  src/types/factories/Greeter__factory.ts
  tasks/constants.ts
  tasks/deploy/greeter.ts
  tasks/deploy/index.ts
  test/integration/greeter/Greeter.test.ts
  test/integration/index.ts
  test/shared/deployers.ts
  test/shared/fixtures.ts
  test/shared/types.ts
  test/unit/greeter/Greeter.test.ts
  test/unit/index.ts
Due: prettier --config ./.prettierrc.yaml --write, eslint --config ./.eslintrc.yaml --ignore-path ./.eslintignore --ext .js,.ts, bash -c 'tsc --pretty --noEmit', solhint --config ./.solhint.json --max-warnings 0, solcjs --abi --include-path node_modules/ --base-path . -o ./artifacts

feat(reverts): add `Reverts` contract
  .gitignore
  contracts/reverts/Reverts.sol
  hardhat.config.ts
  src/types/Reverts.ts
  src/types/factories/Reverts__factory.ts
Due: prettier --config ./.prettierrc.yaml --write, eslint --config ./.eslintrc.yaml --ignore-path ./.eslintignore --ext .js,.ts, bash -c 'tsc --pretty --noEmit', solhint --config ./.solhint.json --max-warnings 0, solcjs --abi --include-path node_modules/ --base-path . -o ./artifacts

test(reverts): add tests for `Reverts`
  test/shared/deployers.ts
  test/shared/fixtures.ts
  test/shared/types.ts
  test/unit/index.ts
  test/unit/reverts/Reverts.test.ts
Due: prettier --config ./.prettierrc.yaml --write, eslint --config ./.eslintrc.yaml --ignore-path ./.eslintignore --ext .js,.ts, bash -c 'tsc --pretty --noEmit'

feat(reverts): add `deploy:Reverts` task
  package.json
  tasks/constants.ts
  tasks/deploy/index.ts
  tasks/deploy/reverts.ts
Due: prettier --config ./.prettierrc.yaml --write, eslint --config ./.eslintrc.yaml --ignore-path ./.eslintignore --ext .js,.ts, bash -c 'tsc --pretty --noEmit'

refactor(erc20token): remove `ERC20Token` from template
  contracts/interfaces/IERC20.sol
  contracts/test/ERC20Token.sol
  helpers/constants.ts
  test/shared/contexts.ts
  test/shared/deployers.ts
  test/shared/fixtures.ts
  test/shared/mocks.ts
  test/shared/types.ts
Due: prettier --config ./.prettierrc.yaml --write, eslint --config ./.eslintrc.yaml --ignore-path ./.eslintignore --ext .js,.ts, bash -c 'tsc --pretty --noEmit', solhint --config ./.solhint.json --max-warnings 0, solcjs --abi --include-path node_modules/ --base-path . -o ./artifacts

build: install xdeployer
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc.yaml --write

feat(xdeploy): add xdeploy config
  hardhat.config.ts
Due: prettier --config ./.prettierrc.yaml --write, eslint --config ./.eslintrc.yaml --ignore-path ./.eslintignore --ext .js,.ts, bash -c 'tsc --pretty --noEmit'

chore(xdeploy): add xdeploy deployment reports
  deployments/goerli_deployment.json
  deployments/mumbai_deployment.json
  deployments/rinkeby_deployment.json
Due: prettier --config ./.prettierrc.yaml --write

docs: update README.md
  README.md
Due: prettier --config ./.prettierrc.yaml --write

ci(actions): remove codecov, sarif
  .github/workflows/ci.yaml
Due: prettier --config ./.prettierrc.yaml --write

ci(release-package): change npm scope to `@sebastiantf`
  .github/workflows/release-package.yaml
Due: prettier --config ./.prettierrc.yaml --write

build: rename package `reverts` → `@sebastiantf/reverts`
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc.yaml --write

build(publish): make package public
  package.json
Due: prettier --config ./.prettierrc.yaml --write

build(publish): add `repository` to package.json
  package.json
Due: prettier --config ./.prettierrc.yaml --write

build(publish): remove `publishConfig.registry`
  package.json
Due: prettier --config ./.prettierrc.yaml --write

ci(release-package): rename `PUBLISH_TOKEN` → `PUBLISH_GITHUB_TOKEN`
  .github/workflows/release-package.yaml
Due: prettier --config ./.prettierrc.yaml --write

ci(release-package): add separate steps for Publish to GitHub, NPM
  .github/workflows/release-package.yaml
Due: prettier --config ./.prettierrc.yaml --write

docs(reverts): roll v1.0.0
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write

Revert "ci(actions): remove codecov, sarif"
  .github/workflows/ci.yaml
Due: prettier --config ./.prettierrc.yaml --write

ci(codecov): remove `CODECOV_TOKEN`
  .github/workflows/ci.yaml
Due: prettier --config ./.prettierrc.yaml --write

build(deps): upgrade vulnerable packages
  yarn.lock
Due: none

refactor(reverts): change all methods `public` → `external`
  contracts/reverts/Reverts.sol
Due: prettier --config ./.prettierrc.yaml --write, solhint --config ./.solhint.json --max-warnings 0, solcjs --abi --include-path node_modules/ --base-path . -o ./artifacts

docs(changelog): move tag link definition
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write

chore(deploy): add v1.0.1 deployments
  deployments/goerli_deployment.json
  deployments/mumbai_deployment.json
  deployments/rinkeby_deployment.json
  hardhat.config.ts
Due: prettier --config ./.prettierrc.yaml --write, eslint --config ./.eslintrc.yaml --ignore-path ./.eslintignore --ext .js,.ts, bash -c 'tsc --pretty --noEmit'

docs(reverts): update v1.0.1 addresses
  README.md
Due: prettier --config ./.prettierrc.yaml --write

chore(release): roll v1.0.1
  CHANGELOG.md
  package.json
Due: prettier --config ./.prettierrc.yaml --write
